/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

 a{
  text-decoration: none;
}

a:hover {
  color: white;
}

li {
  list-style: none;
}

/* UTILITIES */
.text-center {
  text-align: center;
}

/* Typography */
h6 {
  margin-bottom: 7px;
}

p {
  font-size: 11px;
  color: grey;
}

/* Margins */
.mb-15 {
  margin-bottom: 15px;
}

/* Layout */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-content {
  display: flex;
  flex-grow: 1;
}

/* ASIDE */
.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 230px;
  background: green;
}

.navbar {
  flex-grow: 1;
  padding: 25px;
  background: black;
}

.navbar-logo {
  height: 80px;
  width: 100%;
}

.nav {
  height: 30px;
}

.navbar-nav .nav a img {
  height: 100%;
}

.navbar-nav .nav a span {
  line-height: 30px;
}

.account {
  height: 50px;
  background: grey;
}

/* CENTRAL WINDOW */
.window {
  position: relative;
  flex-grow: 1;
  background: green;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
  height: 80px;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

.cta {
  height: 40px;
  padding: 10px 40px;
  font-size: 12px;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 50px;
}

/* SCROLLABLE */
.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: #141518;
}

.menu {
  padding-top: 80px;
}

.menu ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: grey;
}

.menu ul li a:hover {
  color: #fff;
}

.menu ul li {
  display: inline-block;
  padding: 14px;
}

/* CATEGORIES */
.title {
  line-height: 25px;
  margin-bottom: 10px;
  padding: 10px;
}

.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.category {
  text-align: center;
  height: 250px;
  flex-basis: 200px;
  padding-left: 10px;
}

.image {
  height: 190px;
}

.image img {
  max-width: 100%;
}

.circle img {
  border-radius: 50%;
}

/* FOOTER */
#player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 20px;
  background: #222326;
}

.info {
  height: 40px;
  flex-basis: 200px;
  margin: 0 5px;
  background: grey;
}

.play {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {

  .sidebar {
    flex-basis: 130px;
  }

  .top-bar {
    justify-content: center;
  }

  .scrollable {
    padding: 80px 10px;
  }

  .categories {
    flex-flow: row wrap;
    justify-content: center;
  }
}
